<div class="footer">
  <div class="footer-container">
    <img src="assets/img/logo.png" alt="Logo" class="footer-logo" />
    <div class="footer-nameandlegal">
      <div class="footer-name">© Patrick Hoffmann 2025</div>
    </div>
    <div class="footer-socials">
      <div><img src="assets/img/githupwhite.png" alt="" /></div>
      <div><img src="assets/img/emailwhite.png" alt="" /></div>
      <div><img src="assets/img/linkedinwhite.png" alt="" /></div>
    </div>
  </div>
  <div class="footer-legal">Legal Notice</div>
</div>
