<div class="footer">
  <div class="footer-container">
    <img src="assets/img/logo.png" alt="Logo" class="footer-logo" />
    <div class="footer-nameandlegal">
      <div class="footer-name">© Patrick Hoffmann 2025</div>
    </div>
    <div class="footer-socials">
      <div>
        <a href="https://github.com/P-Hoffmann98?tab=repositories">
          <img src="assets/img/githubwhite.png" alt="GitHub" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="assets/img/emailwhite.png" alt="E-Mail" />
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/patrick-hoffmann-7a98822b1/">
          <img src="assets/img/linkedinwhite.png" alt="Linkedin" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer-legal">Legal Notice</div>
</div>
