.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background: radial-gradient(#5988ff 0%, #5988ff 25%, #0043f0 100%);
  color: white;
}

.footer-nameandlegal {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-name {
  font-size: 1.5vh;
}
.footer-legal {
  font-size: 1vh;
}

.footer-socials {
  display: flex;
  gap: 15px;
}
