.footer {
  padding: 80px;
  background: radial-gradient(#5988ff 0%, #5988ff 25%, #0043f0 100%);
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.footer-nameandlegal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-name {
  font-size: 1.5vh;
}
.footer-legal {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 1vh;
}

.footer-socials {
  display: flex;
  gap: 3vw;
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
}
