<div id="about-me-body" class="about-me-body">
  <div class="cirle-half"></div>
  <div class="cirle-small"></div>
  <div class="about-me-left">
    <h1>{{ "ABOUT_ME.HEADER" | translate }}</h1>
    <h2>{{ "ABOUT_ME.SUBHEAD" | translate }}</h2>
    <div class="symbols-with-text">
      <div>
        <img src="assets/img/location.png" alt="" />
        <p>{{ "ABOUT_ME.LOCATION" | translate }}</p>
      </div>

      <div>
        <img src="assets/img/laptop.png" alt="" />
        <p>{{ "ABOUT_ME.REMOTE" | translate }}</p>
      </div>

      <div>
        <img src="assets/img/relocate.png" alt="" />
        <p>{{ "ABOUT_ME.RELOCATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="about-me-right">
    <p class="about-me-text">
      {{ "ABOUT_ME.ABOUT_ME_TEXT" | translate }}
      <br />
      <br />
      {{ "ABOUT_ME.CONTACT_ME" | translate }}
    </p>
    <button class="about-me-send-message">
      {{ "ABOUT_ME.SENDMESSAGE" | translate }}
    </button>
  </div>
</div>
