<div id="my-work-body" class="my-work-body">
  <h1>My Work</h1>
  <p>
    Explore a selection of my work here - Interact with projects to see my
    skills in action.
  </p>

  <div class="project">
    <div class="project-info">
      <h2>Join</h2>
      <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag-drop functions, assign users and categories.
      </p>
    </div>
    <img
      class="my-work-exscreens"
      src="assets/img/join-screenshot.png"
      alt="Join Project Screenshot"
    />
  </div>

  <div class="project">
    <div class="project-info">
      <h2>El Pollo Loco</h2>
      <h3>Javascript | HTML | CSS</h3>
      <p>
        Jump, run and throw game based on object-oriented approach. Help Pepe to
        find coins and tabasco salsa to fight against the crazy chickens.
      </p>
    </div>
    <img
      class="my-work-exscreens"
      src="assets/img/epl-screenshot.png"
      alt="El Pollo Loco Screenshot"
    />
  </div>

  <div class="project">
    <div class="project-info">
      <h2>Pokédex</h2>
      <h3>Javascript | HTML | CSS | Firebase</h3>
      <p>
        Based on the PokéAPI, a simple library that provides and catalogues
        Pokémon information.
      </p>
    </div>
    <img
      class="my-work-exscreens"
      src="assets/img/pokedex-screenshot.png"
      alt="Pokédex Screenshot"
    />
  </div>
</div>
<!-- Decorative Circles -->
<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>
<div class="circle circle5"></div>


