<div class="teamplayer-body">
  <h1>{{ "TEAMPLAYER.HEADER" | translate }}</h1>
  <p>{{ "TEAMPLAYER.INTRO" | translate }}</p>

  <div class="comments">
    <div class="comment-card">
      <h2>{{ "TEAMPLAYER.COMMENTS.SOPHIE.TITLE" | translate }}</h2>
      <p>{{ "TEAMPLAYER.COMMENTS.SOPHIE.TEXT" | translate }}</p>
    </div>

    <div class="comment-card">
      <h2>{{ "TEAMPLAYER.COMMENTS.DANIEL.TITLE" | translate }}</h2>
      <p>{{ "TEAMPLAYER.COMMENTS.DANIEL.TEXT" | translate }}</p>
    </div>

    <div class="comment-card">
      <h2>{{ "TEAMPLAYER.COMMENTS.LEA.TITLE" | translate }}</h2>
      <p>{{ "TEAMPLAYER.COMMENTS.LEA.TEXT" | translate }}</p>
    </div>
  </div>
</div>
