<div class="contact">
  <h1>Contact</h1>
  <div class="contact-container">
    <div class="contact-left">
      <h2>Got a problem to solve?</h2>
      <p>
        Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work
      </p>
      <h3>Need a Frontend developer? <b>Contact me!</b></h3>
    </div>
    <div class="contact-right">
      <form class="contactForm" id="contactForm">
        <input
          class="contactInputsName"
          type="text"
          id="name"
          placeholder="Your Name"
          required
        />
        <input
          class="contactInputsEmail"
          type="text"
          id="email"
          placeholder="Your E-mail"
          required
        />
        <input
          class="contactInputsMessage"
          type="text"
          id="message"
          placeholder="Your Message"
          required
        />

        <div class="contact-checkbox">
          <input class="contact-privacy-checkbox" type="checkbox" id="privacy" required />
          <label class="privacy-label" for="privacy"
            >I've read the privacy policy and agree to the processing of my data
            as outlined.</label
          >
        </div>
      </form>
    </div>
  </div>
</div>
