<div id="skill-set-body" class="skill-set-body">
  <h1>Skill set</h1>

  <div class="skills-container">
    <!--Angular-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/angular.png" alt="" />
      <p>Angular</p>
    </div>

    <!--Typescript-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/typescript.png" alt="" />
      <p>Typescript</p>
    </div>

    <!--Javascript-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/js.png" alt="" />
      <p>Javascript</p>
    </div>

    <!--HTML-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/html.png" alt="" />
      <p>HTML</p>
    </div>

    <!--Scrum-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/scrum.png" alt="" />
      <p>Scrum</p>
    </div>

    <!--Firebase-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/firebase.png" alt="" />
      <p>Firebase</p>
    </div>

    <!--GIT-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/git.png" alt="" />
      <p>GIT</p>
    </div>

    <!--CSS-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/css.png" alt="" />
      <p>CSS</p>
    </div>

    <!--Rest-Api-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/api.png" alt="" />
      <p>Rest-Api</p>
    </div>

    <!--Material Design-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/matdesign.png" alt="" />
      <p>Material Design</p>
    </div>

    <!--Growth mindset-->
    <div class="skill-box">
      <img src="/assets/img/skillseticons/growth.png" alt="" />
      <p>Growth mindset</p>
    </div>
  </div>
</div>
