<div class="landing-page-body">
  <div class="circle"></div>
  <nav>
    <img src="assets/img/logo.png" alt="Logo" />
    <div class="nav-links">
      <a href="#about-me-body">About me</a>
      <a href="#skill-set-body">Skill Set</a>
      <a href="#my-work-body">My work</a>
    </div>
  </nav>
  <div class="img-and-text">
    <div class="img-container">
      <img src="assets/img/pic_crossed_arms_nobg.png" alt="Picture" />
    </div>
    <div class="text-container">
      <h2>Hello! I am Patrick</h2>
      <h1>FRONTEND DEVELOPER</h1>
      <div class="socials">
        <a href="https://github.com/P-Hoffmann98?tab=repositories">
          <img src="assets/img/github_social.png" alt="GitHub" />
        </a>
        <a href="">
          <img src="assets/img/email_social.png" alt="E-Mail" />
        </a>
        <a href="https://www.linkedin.com/in/patrick-hoffmann-7a98822b1/">
          <img src="assets/img/linkedin_social.png" alt="Linkedin" />
        </a>
      </div>
      <div class="scroll-hint">
        <p>SCROLL</p>
        <div class="scroll-line"></div>
      </div>
    </div>
  </div>
</div>
